In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
from collections import Counter
%matplotlib inline
from sklearn.linear_model import LogisticRegression

import sklearn
from sklearn import linear_model, metrics, preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

pd.options.mode.chained_assignment = None

In [2]:
df_ALL=pd.read_csv("df_ALL.csv")
df_ALL.drop('Unnamed: 0',axis=1,inplace=True)
df_ALL

,adress,square,price for meter,number of rooms,floor,year of build,total price,Day,Month,Year
0,1,147.0,40816.0,5.0,7.0,2019,5999952.0,5,10,2021
1,1,112.0,39732.0,4.0,2.0,2015,4449984.0,18,8,2021
2,1,88.0,46590.0,3.0,1.0,2016,4099920.0,10,8,2021
3,1,88.0,46590.0,3.0,1.0,1980,4099920.0,9,8,2021
4,1,98.0,40816.0,4.0,5.0,2009,3999968.0,9,8,2021
...,...,...,...,...,...,...,...,...,...,...
5707,6,50.0,22948.0,2.0,4.0,2016,1147400.0,16,12,2014
5708,6,50.0,22439.0,2.0,2.0,2016,1121950.0,16,12,2014
5709,6,76.0,14736.0,3.0,3.0,1958,1119936.0,16,12,2014
5710,6,60.0,7333.0,3.0,0.0,1960,439980.0,16,12,2014
5711,6,56.0,17142.0,4.0,1.0,1961,959952.0,15,12,2014

In [6]:
print('Enter square meters:')
square = input()
print('Enter number of rooms:')
number = input()
print('Enter your price:')
price = input()

for i in range(5712):
    if df_ALL.iloc[i,1 ] < int(square)+20 and df_ALL.iloc[i,1 ] > int(square)-10 and df_ALL.iloc[i,3 ] == int(number) 
    and df_ALL.iloc[i,6 ]<=int(price) and df_ALL.iloc[i,5 ]>=2020 :
        print(df_ALL.iloc[i])

Enter square meters:
100
Enter number of rooms:
4
Enter your price:
3500000
adress                  1.0
square                100.0
price for meter      9652.0
number of rooms         4.0
floor                   4.0
year of build        2020.0
total price        965200.0
Day                    21.0
Month                   3.0
Year                 2019.0
Name: 107, dtype: float64
adress                   2.0
square                 102.0
price for meter      22843.0
number of rooms          4.0
floor                    5.0
year of build         2020.0
total price        2329986.0
Day                     30.0
Month                    6.0
Year                  2021.0
Name: 927, dtype: float64
adress                   2.0
square                 104.0
price for meter      25462.0
number of rooms          4.0
floor                   10.0
year of build         2023.0
total price        2648048.0
Day                      1.0
Month                    1.0
Year                  2021.0
Name: 968, dtype: float64
adress                   3.0
square                 116.0
price for meter      24137.0
number of rooms          4.0
floor                    2.0
year of build         2021.0
total price        2799892.0
Day                     31.0
Month                   10.0
Year                  2019.0
Name: 2031, dtype: float64
adress                   3.0
square                 104.0
price for meter      23461.0
number of rooms          4.0
floor                    9.0
year of build         2020.0
total price        2439944.0
Day                     11.0
Month                    4.0
Year                  2019.0
Name: 2085, dtype: float64
adress                   3.0
square                 104.0
price for meter      23432.0
number of rooms          4.0
floor                    8.0
year of build         2020.0
total price        2436928.0
Day                     26.0
Month                   12.0
Year                  2018.0
Name: 2118, dtype: float64
adress                   3.0
square                 103.0
price for meter      25048.0
number of rooms          4.0
floor                    8.0
year of build         2020.0
total price        2579944.0
Day                     23.0
Month                   12.0
Year                  2018.0
Name: 2119, dtype: float64
adress                   3.0
square                 104.0
price for meter      23913.0
number of rooms          4.0
floor                   11.0
year of build         2020.0
total price        2486952.0
Day                     16.0
Month                   12.0
Year                  2018.0
Name: 2120, dtype: float64
adress                   3.0
square                 104.0
price for meter      23076.0
number of rooms          4.0
floor                    7.0
year of build         2020.0
total price        2399904.0
Day                     13.0
Month                   12.0
Year                  2018.0
Name: 2121, dtype: float64
adress                   3.0
square                 104.0
price for meter      22500.0
number of rooms          4.0
floor                    6.0
year of build         2020.0
total price        2340000.0
Day                     18.0
Month                   11.0
Year                  2018.0
Name: 2126, dtype: float64
adress                   3.0
square                 104.0
price for meter      22080.0
number of rooms          4.0
floor                    4.0
year of build         2020.0
total price        2296320.0
Day                     18.0
Month                   11.0
Year                  2018.0
Name: 2127, dtype: float64
adress                   3.0
square                 104.0
price for meter      23317.0
number of rooms          4.0
floor                   10.0
year of build         2020.0
total price        2424968.0
Day                     18.0
Month                   11.0
Year                  2018.0
Name: 2128, dtype: float64
adress                   3.0
square                 105.0
price for meter      24780.0
number of rooms          4.0
floor                    6.0
year of build         2020.0
total price        2601900.0
Day                      5.0
Month                   11.0
Year                  2018.0
Name: 2131, dtype: float64
adress                   3.0
square                 104.0
price for meter      23317.0
number of rooms          4.0
floor                    8.0
year of build         2020.0
total price        2424968.0
Day                      5.0
Month                   11.0
Year                  2018.0
Name: 2132, dtype: float64
adress                   3.0
square                 103.0
price for meter      24951.0
number of rooms          4.0
floor                    9.0
year of build         2020.0
total price        2569953.0
Day                      9.0
Month                   10.0
Year                  2018.0
Name: 2136, dtype: float64
adress                   3.0
square                 105.0
price for meter      26904.0
number of rooms          4.0
floor                   11.0
year of build         2020.0
total price        2824920.0
Day                      6.0
Month                    9.0
Year                  2018.0
Name: 2140, dtype: float64
adress                   3.0
square                 105.0
price for meter      27523.0
number of rooms          4.0
floor                    3.0
year of build         2020.0
total price        2889915.0
Day                     21.0
Month                    8.0
Year                  2018.0
Name: 2144, dtype: float64
adress                   3.0
square                 105.0
price for meter      26476.0
number of rooms          4.0
floor                    9.0
year of build         2020.0
total price        2779980.0
Day                     26.0
Month                    7.0
Year                  2018.0
Name: 2150, dtype: float64
adress                   3.0
square                 105.0
price for meter      23923.0
number of rooms          4.0
floor                    8.0
year of build         2020.0
total price        2511915.0
Day                      1.0
Month                    2.0
Year                  2018.0
Name: 2187, dtype: float64
adress                   3.0
square                 105.0
price for meter      20476.0
number of rooms          4.0
floor                   13.0
year of build         2020.0
total price        2149980.0
Day                     27.0
Month                   12.0
Year                  2017.0
Name: 2191, dtype: float64
adress                   3.0
square                 103.0
price for meter      22038.0
number of rooms          4.0
floor                    1.0
year of build         2020.0
total price        2269914.0
Day                     21.0
Month                   12.0
Year                  2017.0
Name: 2195, dtype: float64
adress                   5.0
square                  92.0
price for meter      20869.0
number of rooms          4.0
floor                    4.0
year of build         2021.0
total price        1919948.0
Day                     22.0
Month                    8.0
Year                  2021.0
Name: 3755, dtype: float64
adress                   5.0
square                  91.0
price for meter      24725.0
number of rooms          4.0
floor                    5.0
year of build         2024.0
total price        2249975.0
Day                     26.0
Month                    7.0
Year                  2021.0
Name: 3759, dtype: float64
adress                   5.0
square                  95.0
price for meter      23157.0
number of rooms          4.0
floor                    6.0
year of build         2022.0
total price        2199915.0
Day                      6.0
Month                    7.0
Year                  2021.0
Name: 3763, dtype: float64
adress                   5.0
square                  93.0
price for meter      20569.0
number of rooms          4.0
floor                    6.0
year of build         2021.0
total price        1912917.0
Day                      4.0
Month                   10.0
Year                  2020.0
Name: 3795, dtype: float64
adress                   5.0
square                  94.0
price for meter      21542.0
number of rooms          4.0
floor                    5.0
year of build         2022.0
total price        2024948.0
Day                     14.0
Month                    7.0
Year                  2020.0
Name: 3811, dtype: float64

adress                   5.0
square                  91.0
price for meter      24725.0
number of rooms          4.0
floor                    0.0
year of build         2020.0
total price        2249975.0
Day                     29.0
Month                   11.0
Year                  2018.0
Name: 3928, dtype: float64
adress                   6.0
square                  95.0
price for meter      34947.0
number of rooms          4.0
floor                    1.0
year of build         2021.0
total price        3319965.0
Day                     13.0
Month                   12.0
Year                  2018.0
Name: 5013, dtype: float64
adress                   6.0
square                  95.0
price for meter      36817.0
number of rooms          4.0
floor                    3.0
year of build         2021.0
total price        3497615.0
Day                      1.0
Month                   11.0
Year                  2018.0
Name: 5028, dtype: float64
adress                   6.0
square                  94.0
price for meter      35046.0
number of rooms          4.0
floor                    5.0
year of build         2021.0
total price        3294324.0
Day                     26.0
Month                    9.0
Year                  2018.0
Name: 5043, dtype: float64
adress                   6.0
square                  95.0
price for meter      36508.0
number of rooms          4.0
floor                    2.0
year of build         2021.0
total price        3468260.0
Day                     12.0
Month                    9.0
Year                  2018.0
Name: 5051, dtype: float64
adress                   6.0
square                  95.0
price for meter      36377.0
number of rooms          4.0
floor                    4.0
year of build         2021.0
total price        3455815.0
Day                     18.0
Month                    3.0
Year                  2018.0
Name: 5104, dtype: float64
adress                   6.0
square                  95.0
price for meter      36798.0
number of rooms          4.0
floor                    6.0
year of build         2020.0
total price        3495810.0
Day                     15.0
Month                    1.0
Year                  2018.0
Name: 5121, dtype: float64
adress                   6.0
square                 100.0
price for meter      34950.0
number of rooms          4.0
floor                    2.0
year of build         2020.0
total price        3495000.0
Day                      3.0
Month                   10.0
Year                  2017.0
Name: 5157, dtype: float64

NameError: name 'dfQ1' is not defined